*/target
target
tmp
*~
lib
*/test-output
temp-testng-customsuite.xml
**pom.xml.releaseBackup
release.properties
*.iws
*.iml
*.ipr
.settings
gen
*/seed.txt
notes
logs
agit/artwork/rasters/
agit/gravatars

