language: android
android:
  components:
    - platform-tools
    - tools

    - sys-img-armeabi-v7a-android-19

# Emulator Management: Create, Start and Wait
before_script:
  - echo no | android create avd --force -n test -t android-19 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - ./gradlew assembleDebugTest -i
  - adb shell input keyevent 82 &

script: ./gradlew connectedCheck -i
