<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="100" android:versionName="1.0-SNAPSHOT" package="com.github.mobile">
    <!-- Note: This file will be auto-formatted by the build (specifically android:manifest-update goal) -->

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <supports-screens android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true"/>

    <application android:debuggable="true" android:hardwareAccelerated="true" android:icon="@drawable/github_app_icon" android:label="@string/github_app_name" android:theme="@style/Theme.GitHub">

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name="HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".ui.repo.RepoSearchActivity"/>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name=".ui.gist.ShareGistActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name=".ui.issue.IssueBrowseActivity">
            <intent-filter>
                <action android:name="com.github.mobile.android.repo.issues.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name=".ui.issue.FilterIssuesActivity">
            <intent-filter>
                <action android:name="com.github.mobile.android.repo.issues.filter.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name=".ui.issue.IssueDashboardActivity">
            <intent-filter>
                <action android:name="com.github.mobile.android.repo.issues.dashboard.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name=".ui.issue.CreateIssueActivity">
            <intent-filter>
                <action android:name="com.github.mobile.android.repo.issues.create.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name=".ui.issue.EditIssueActivity">
            <intent-filter>
                <action android:name="com.github.mobile.android.repo.issues.edit.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:label="@string/search_title" android:launchMode="singleTop" android:name=".ui.repo.RepoSearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name=".ui.gist.GistsActivity"/>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name=".ui.issue.ViewFiltersActivity">
             <intent-filter>
                <action android:name="com.github.mobile.android.repo.issues.filters.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name=".ui.gist.ViewGistsActivity">
            <intent-filter>
                <action android:name="com.github.mobile.android.gists.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name=".ui.gist.ViewGistFilesActivity">
            <intent-filter>
                <action android:name="com.github.mobile.android.gist.files.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name=".ui.comment.CreateCommentActivity">
            <intent-filter>
                <action android:name="com.github.mobile.android.comment.create.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name=".ui.repo.RepositoryViewActivity">
            <intent-filter>
                <action android:name="com.github.mobile.android.repo.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name=".ui.issue.ViewIssuesActivity">
            <intent-filter>
                <action android:name="com.github.mobile.android.issues.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:exported="true" android:name=".accounts.AccountAuthenticatorService" android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>

        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:excludeFromRecents="true" android:label="@string/ui_activity_title" android:name=".accountss.AuthenticatorActivity">
            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>

        <service android:exported="true" android:name=".sync.GitHubSyncAdapterService" android:process=":repos">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_adapter"/>
        </service>

        <provider android:authorities="com.github.sync" android:label="GitHub" android:name=".sync.DummyProvider" android:syncable="true"/>

        <provider android:authorities="com.github.search.suggest.recent.repos" android:name=".ui.repo.RepoSearchRecentSuggestionsProvider"/>

    </application>

</manifest>