<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.mobile.android"
          android:versionName="0.01"
          android:versionCode="0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14"/>

    <application
            android:name=".GitHubApplication"
            android:theme="@style/Theme.App"
            android:icon="@drawable/github_app_icon"
            android:label="@string/github_app_name"
            android:hardwareAccelerated="true">

        <activity android:name="DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".gist.ShareGistActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity android:name=".gist.ViewGistActivity" />

        <service android:name=".authenticator.AccountAuthenticatorService"
                 android:exported="true" android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>

        <activity
                android:name=".authenticator.GitHubAuthenticatorActivity"
                android:label="@string/ui_activity_title"
                android:excludeFromRecents="true"
                >
            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>
        <activity android:name=".ui.WelcomeActivity"/>

        <service android:name=".sync.GitHubSyncAdapterService"
                 android:exported="true" android:process=":repos">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_adapter"/>
        </service>

        <provider android:name=".sync.DummyProvider"
                  android:authorities="com.github.sync"
                  android:syncable="true"
                  android:label="GitHub"/>

    </application>


    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="org.openintents.ssh.permission.ACCESS_SSH_AGENT"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"/>

</manifest> 
