body {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.CodeMirror {
  overflow-x: scroll;
  line-height: 1.4em;
}

.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
}

img {
  display: block;
  border: 1px solid #999;
  padding: 1px;
  margin-top: 10px;
  margin-left: 10px;
  background: url("trans_bg.gif") right bottom #EEE;
}
